.App {
  text-align: center;
}

.Penguin {
  position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

.header {
  font-family: "Comic Sans MS", "Comic Sans";
  color: white;
  font-size: 4em;
  margin: 0;
}

.imagef {
  height: calc(40vh*1.25);
  width: 40vh;
  border-radius: 10px;
}

@keyframes example {
  from   {top:-100px;}
  to {top: 100%;}
}

/* The element to apply the animation to */
.animation {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: example linear infinite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
